[user]
	email = seanmamasde@gmail.com
	name = seanmamasde
[core]
	longpaths = true
	editor = \"C:\\Users\\SeanMa\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	fsmonitor = true
	hideDotFiles = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = C:/Users/SeanMa/scoop/apps/scoop/current
	directory = C:/Users/SeanMa/scoop/buckets/main
